// @flow

import React from 'react'
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'
import messages from './messages'
{{/if}}
{{#if wantCSS}}
import { themr } from 'react-css-themr'
import makeCn, { getThemingOption } from 'utils/makeCn'
import styles from './styles.css'

const cn = makeCn({ _: styles })

const defaultStyles = {
  root: cn('_root'),
}
{{/if}}

export class {{ properCase name }} extends React.Component { // eslint-disable-line react/prefer-stateless-function
  {{#if wantCSS}}
  props: {
    theme: { [key: string]: string },
  };

  {{/if}}
  render() {
    {{#if wantCSS}}
    const { theme } = this.props
    {{/if}}
    return (
      {{#if wantCSS}}
      <div className={{curly true}}theme.root{{curly}}>
      {{else}}
      <div>
      {{/if}}
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
    )
  }
}

{{#if wantCSS}}
export default themr('{{ properCase name }}', defaultStyles, getThemingOption())({{ properCase name }})
{{else}}
export default {{ properCase name }}
{{/if}}
