// @flow

import React from 'react'

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'
import messages from './messages'
{{/if}}

{{#if wantCSS}}
import { themr } from 'react-css-themr'
import makeCn, { getThemingOption } from 'utils/makeCn'
import styles from './styles.css'

const cn = makeCn({ _: styles })

const defaultStyles = {
  root: cn('_root'),
}
{{/if}}

export function {{ properCase name }}({ theme }: {
{{#if wantCSS}}
  theme: { [key: string]: string },
{{/if}}
}) {
  return (
    {{#if wantCSS}}
    <div className={{curly true}}theme.root{{curly}}>
    {{else}}
    <div>
    {{/if}}
    {{#if wantMessages}}
      <FormattedMessage {...messages.header} />
    {{/if}}
    </div>
  )
}

{{ properCase name }}.displayName = '{{ properCase name }}'

{{#if wantCSS}}
export default themr('{{ properCase name }}', defaultStyles, getThemingOption())({{ properCase name }})
{{else}}
export default {{ properCase name }}
{{/if}}
